[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
build = "*"
twine = "*"
pre-commit = "*"
isort = "*"
seed-isort-config = "*"
yamllint = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
black = "*"
pydocstyle = "*"
pdoc3 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
